
.favorite-btn-style {
  border: 1px solid #28a745;
  background-color: transparent;
  color: #28a745;
}

.favorite-btn-style:hover {
  cursor: pointer;
  border: 1px solid green;
  background-color: green;
  color: white;
}

.favorite-btn-style:focus {
  outline: none;
  box-shadow: none;
}

.m-icon {
  position: relative;
  top: 2px;
  right: 2px;
  font-size: 16px;
}

.m-icon:hover {
  opacity: 1;
  cursor: pointer;
}